<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>footballselection</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TimeServ</display-name>
    <servlet-name>TimeServ</servlet-name>
    <servlet-class>Controller.TimeServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimeServ</servlet-name>
    <url-pattern>/TimeServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServTimes</display-name>
    <servlet-name>ServTimes</servlet-name>
    <servlet-class>Controller.ServTimes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServTimes</servlet-name>
    <url-pattern>/ServTimes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletTimes</display-name>
    <servlet-name>ServletTimes</servlet-name>
    <servlet-class>Controller.ServletTimes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTimes</servlet-name>
    <url-pattern>/ServTim</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet</display-name>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>Controller.Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/ServletTimes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletGrupo</display-name>
    <servlet-name>ServletGrupo</servlet-name>
    <servlet-class>Controller.ServletGrupo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletGrupo</servlet-name>
    <url-pattern>/ServletGrupo</url-pattern>
  </servlet-mapping>
</web-app>